# dependencies
**/node_modules/
node_modules

# build
**/bin/
**/build/

# configs and environment specific
**/uploads/
**/sessions/
**/.vscode/
*.code-workspace

*.sh
.ftpquota
.htaccess
passengar.log
